.filter {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
}
.todoList_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0 10px;
    align-items: center;
}
