.footer {
    width: 100%;
    height: auto;
    background-color: #222222;
    text-align: center;
    position: fixed;
    bottom: 0;
}
.footer img {
    max-width: 100%;
    height: auto;
    padding: 15px 0 3px;
}
